package-lock.json
*~
*.sw[mnpcod]
.vs/
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
packages/
*.pdb
*.log
log.txt
npm-debug.log*
bin/
obj/
dist/
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
node_modules/
platforms/
plugins/
www/